.env*
celerybeat.schedule.db
Procfile.development
tox.ini
coverage
.tox
.github
**/*.pyc
**/*.pyo
**/*.mo
.gitignore
.git/
**/__pycache__/
Dockerfile
db.sqlite3
**/*.md
celery_flower
static
staticfiles
.docker